{{#if @blog.cover }}
	<div role='banner' class="header_magnum" style="background-image:url('{{@blog.cover}}')">
		{{#if @blog.logo}}
		<a class="logo_magnum" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
		{{/if}}
		<h1 class="blogtitle_magnum">
			<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{{@blog.title}}}
			</a>
		</h1>
		<h4 class="blogdescription_magnum">
			<a title="{{@blog.title}}" href='{{@blog.url}}' class="darker_magnum">
			{{@blog.description}}
			</a>
		</h4>
	</div>
{{ else }}
	<div role='banner' class="header_magnum">
		{{#if @blog.logo}}
		<a class="logo_magnum" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
		{{/if}}
		<h1 class="blogtitle_magnum">
			<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{{@blog.title}}}
			</a>
		</h1>
		<h4 class="blogdescription_magnum">
			<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{@blog.description}}
			</a>
		</h4>
        </div>
{{/if}}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Reactive_1_New -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3364370913544540"
     data-ad-slot="7538536119"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>